{{template "base" .}}

{{define "content"}}
{{/* No prose column: this template is nothing but stacked sections, for
     landing pages assembled entirely from the section chooser. A page
     template that defines no cmsText/cmsRegion is perfectly valid. */}}
{{cmsSections "sections"}}
{{end}}
